<%= render :partial => "publish/toolbar" %>

<div class="propertypage" style="padding: 0;">
  <h1>Ready to publish?</h1>
  
  <% form_for @questionnaire, :url => { :controller => "prepublish", :action => "set_subscription", :method => :put } do |f| -%>
    <% if @questionnaire.subscription -%>
      <% if @questionnaire.subscription.questionnaire_specific? -%>
        <% if @questionnaire.subscription.expired? -%>
          <p>This survey was paid up to <%= @questionnaire.subscription.expires_at -%>, but the time has run out!  If you'd like
            to re-publish it, here are your options:</p>
          
          <ul style="list-style-type: none;">
            <li>
              <%= f.radio_button "subscription_id", "extend_#{@questionnaire.subscription.id}" %>
              <%= f.radio_button "subscription_id", "Pay for additional time", :value => "extend_#{@questionnaire.subscription.id}" %>
            </li>
            <%= render :partial => "subscription_options", :locals => { :f => f } %>
          </ul>
        <% else -%>
          <p>This survey is paid up until <%= @questionnaire.subscription.expires_at -%>.  If you'd like to pay for additional
            time, you can do so after it's published.</p>
        <% end -%>
      <% else -%>
        <p>This survey is currently set to use <b><%= @questionnaire.subscription.name %></b>.</p>
        <% if @questionnaire.subscription.expired? -%>
          <p>Unfortunately, that subscription is <% if @questionnaire.subscription.cancelled? %>cancelled!<% else %>expired!<% end %>
            Here are your options:</p>
          
          <ul style="list-style-type: none;">
            <%= render :partial => "subscription_options", :locals => { :f => f } %>
          </ul>
        <% else -%>
          <ul style="list-style-type: none;">
            <%= render :partial => "subscription_options", :locals => { :f => f } %>
          </ul>
        <% end -%>
      <% end -%>
    <% else -%>
      <p>Great!  We just want to check how you'd like to pay for this survey.  Here are your options:</p>
      <%= render :partial => "product_options", :locals => { :f => f } %>

      <ul style="list-style-type: none;">
        <%= render :partial => "subscription_options", :locals => { :f => f } %>
      </ul>    
    <% end -%>
    
    <button class="bigbutton">
      Publish this survey &raquo;
    </button>
  <% end -%>
</div>
