<style type="text/css">
ul.payment_methods {
  list-style-type: none;
}

ul.payment_methods li {
  display: inline-block;
  padding: 1em;
}

ul.payment_methods button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

table.confirmation {
  margin: 1em;
  border: 1px #666 solid;
  background-color: white;
  border-collapse: collapse;
}

table.confirmation th {
  text-align: right;
  vertical-align: top;
  padding-right: 1em;
}

table.confirmation tr {
  border-top: 1px #888 dotted;
  padding: 0.5em;
}

table.confirmation td {
  font-family: monospace;
}
</style>

<h2>Ready to check out!</h2>

<p>Just to confirm, the details of your subscription are:</p>

<table class="confirmation">
  <tr>
    <th>Subscriber:</th>
    <td>
      <%=h @person.name %><br/>
      <%=h @person.primary_email_address %>
    </td>
  </tr>
  <tr>
    <th>Subscription plan:</th>
    <td>
      <%=h @plan.name %><br/>
      <%= open_questionnaires_limit(@plan)%><br/>
			<%= responses_per_month_limit(@plan)%>
    </td>
  </tr>
  <tr>
    <th>Price:</th>
    <td>
      <%= @plan.human_price %><br/>
      <% if @free_trial_days > 0 -%>
        First <%= pluralize @free_trial_days, "day" %> free<br/>
      <% end -%>
      Billing starts <%= @rebill_at.strftime("%A, %B %d, %Y") %>
    </td>
  </tr>
</table>

<p>If these are correct, please choose one of the payment methods below:</p>

<ul class="payment_methods">
  <li>
    <button type="submit" name="payment_method" value="google">
      <img src="https://checkout.google.com/buttons/checkout.gif?merchant_id=<%=JourneyPaywall.configuration['google']['merchant_id']%>&amp;w=180&amp;h=46&amp;style=trans&amp;variant=text&amp;loc=en_US"
           alt="Check out with Google Checkout"/>
    </button>
  </li>
</ul>