<h1>Subscriptions</h1>

<%= render :partial => 'toplevel_tabs' %>

<div class="propertypage">
    <h2 style="margin-top: 0;"><%= @subscription.name%></h2>
	
	<p>
		<% survey_links = @subscription.questionnaires.collect {|q| link_to(q.title, questionnaire_path(q)) } -%>
		<% if @subscription.questionnaires.size > 3 -%>
		  <%= link_to_function "#{@subscription.questionnaires.size} surveys (click to show)", 
                "$('subscription_#{@subscription.id}_show_surveys').hide(); $('subscription_#{@subscription.id}_surveys').show();",
                :id => "subscription_#{@subscription.id}_show_surveys" %>
		  <span id="subscription_<%=@subscription.id%>_surveys" style="display: none;">
		  	Surveys: 
			<ul>
				<% survey_links.each do |l| -%>
					<li><%=l%></li>
				<% end -%>
			</ul>
		  </span>
		<% else -%>
		  Survey(s): <%= survey_links.join(", ") %>
		<% end -%>
		
		<br/>
		
		<% if @subscription.forever? -%>
		  Never expires
		<% else -%>
	   	   <% if @subscription.expired? -%>
		      <span style="font-weight: bold;">
		          <% if @subscription.past_grace_period? %>
			         Expired
		          <% else -%>
			         Payment due; subscription will expire on
					 <%= @subscription.grace_period_ends_at.strftime("%A, %B %d, %Y") %>
			     <% end -%>
	          </span>
		  <% else -%>
		      Next payment due <%= @subscription.rebill_at.strftime("%A, %B %d, %Y") %>
		  <% end -%>
		<% end -%>
	</p>
</div>
